div{
    height: 200px;
    width: 500px;
    border: 2px solid blue;
    border-left: 5px #ee040f;
    border-radius: 50px;
    padding: 25px black;
}
h1{
    padding: 20px,50px,20px,50px ;
    background-color: yellow;
}